html {
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
}

/* ------------------------------  HEADER  --------------------------- */
header {
    height: 100vh;
    width: 20vw;
    position: fixed;
    background-color: #91BFE2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ----------Navigasjon og linker-------- */
a {
    text-decoration: none;
    color: black;
}

.arrow:hover {
    fill: rgb(255, 255, 255);
}

a .arrow {
    width: 18px;
    height: 18px;
}

a:hover {
    color: white;
    transform: scale(1.2);
}
.link {
    text-decoration:underline;
}
.link:hover {
    color: black;
}

/* ---------------- home --------------- */
#home a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4% 0 0 8%;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}

/* ------------- main-nav ------------ */
/* Velger img og ul*/
#main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* velger kun ul */
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 18px;
}
/* velger kun .valg til a-tag */
.valg {
    display: flex;
    margin: 0 0 9% 0;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.4s ease;
}
/* velger kun li og a for hover*/
li .valg:hover {
    color: white;
    transform: scale(1.2);
}

#avatar {
    width: 50%;
    margin-bottom: 30px;
}

/* ------------ Next ---------- */
#next a {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding: 0 8% 3% 0;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}
/* ------------------------------  HEADER END  -------------------------- */





/*------------------------------   MAIN   ------------------------------- */
main {
    margin-left: 35vw;
    margin-right: 15vw;
}

section {
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 25px 0 15px 0;
}

h2 {
    margin: 0;
}

p {
    margin: 8px 0 0 0;
    line-height: 1.5;
}

#h1-none {
    margin: 0;
}


/* ----- ROBOTO ----- */
#roboto {
    padding-top: 20vh;
}
#roboto-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 531px;
    text-align: justify;
    margin-bottom: 0;
}

#avatar2 {
    width: 400px;
    height: 400px;
}
img,#roboto-example {
    width: 600px;
}

#references {
    text-align: left;
    width:100%;
}

/* ----- DESIGN ----- */
.design-box {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 531px;
    text-align: justify;
    margin-bottom: 0;
}

/* ----- STYLES ----- */
#containerstyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 24px;
}

#styles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 24px;
}

.hidden {
    color: white;
}

.styles-container1 {
    text-align: left;
    padding-right: 13px;
} 
.styles-container2 {
    text-align: left;
}

.styles-container1 .styles-container2, div {
    padding-bottom: 5px;
}

.thin {
    font-weight: 100;
}

.italic {
    font-style: italic;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}



/* ----- CHARACTER ----- */
.character-container2 {
    text-align: center;
    letter-spacing: 2.2px;
}

/* #nav2 {
    display: none;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
/* -----------------------------  MAIN END  -------------------------- */



/* -----------------------------  @Media  -------------------------- */
@media (max-width:1047px) {
header {
    height: 6vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#home a {
    padding: 0 0 0 10px;
}
#next a {
    padding: 0 20px 0 0;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a, .valg {
    padding-right: 12px;
    margin: 0px;
}

#avatar {
    display: none;
}

img,#roboto-example {
    width: 500px;
}

/* Main */

main {
    width: 50vw;
    margin: 0 auto 0 auto;
}

#avatar2 {
    width: 400px;
    height: 400px;
}

.roboto-container2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#styles {
    font-size: 20px;
    width: 500px;
}
}



@media (max-width: 600px) {
#next {
     display: none;
 }

header {
    justify-content: space-between;
    padding-right: 10px;
    font-size: 14px;
}

#home a {
    font-size: 14px;
} 

ul {
    font-size: 14px; 
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 19px;
}

p {
    font-size: 14px;
}

main {
    width: 30%;
}

#avatar2 {
    width: 300px;
    height: 300px; 
}

#styles {
    font-size: 16px;
    width: 450px;
}
img,#roboto-example {
    width: 400px;
}
}

@media (max-width: 400px) {
    #styles {
        font-size: 12px;
        width: 300px;
    }
    img,#roboto-example {
        width: 300px;
    }
}

@media (max-width: 350px) {
    #avatar2 {
        width: 200px;
        height: 200px; 
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px; 
    }
    
    #styles {
        font-size: 12px;
        width: 290px;
    }

    p {
        font-size: 12px;
    }

    #home a {
        font-size: 12px;
    } 
    
    ul {
        font-size: 12px; 
    }

    p.numbers {
        font-size: 12px;
    }
    main {
        width: 70%;
    }
    img,#roboto-example {
        width: 280px;
    }
}